*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

button.delete {
  padding: 5px 0;
  background: #bf0000;
  border-radius: 10px;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
}

